label {
    margin-left: 5px;
}

/*__________Selection_ingredients__________*/
#filtre_ingredients {
    position: absolute;
    height: 40%;
    width: 100%;
}

#search_ingredient {
    width: 90%;
    height: 25px;
    margin: 10px;
}

#checkbox_ingredient {
    position: absolute;

    margin-left: 10px;
    margin-right: 10px;
    max-height: 37vh;
    width: 93%;


    overflow: auto;
}

/*_____________Selection_tags______________*/
#filtre_tags {
    position: absolute;
    top: 40%;
    height: 35%;
    width: 100%;
}

#search_tag {
    width: 90%;
    height: 25px;
    margin: 10px;
}

#checkbox_tag {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    height: 25vh;
    width: 93%;

    overflow: auto;
}

/*_____________Selection_trie______________*/
#trie {
    position: absolute;
    width: 268px;
    top:76%;
    margin-left: 10px;
}

#leg {
    font-size: 1.1em;
}

.tri{
    visibility: visible;
}

/*________________________________________________________________________________________*/
#reste_page {
    margin-left: 300px;
    margin-bottom: 0;
}

/*________________Recette_________________*/
.search {
    display: flex;

    padding-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#search_rit {
    margin-left: 20px;
    margin-top: 30px;

    height: 30px;
    width: 250px;
}



#liste_recette {
    max-height: 83%;

    position: absolute;
    overflow: auto;

}

.recette {
    background-color: #a6483a;
    border: black;
    border-radius: 10px;

    margin: 20px;
    display: flex;
}

.bouton_image_recette {
    visibility: hidden;
    margin-top: 4px;
    margin-bottom: 2px;
    background-color: #c95a49;
}

.image_recette {
    visibility: visible;
    border-radius: 7px;

    height: 250px;
    width: 250px;
}

.text_ingr {
    margin-top: 10px;
    margin-right: 10px;
}

.nom {
    margin-top: 10px;
    margin-bottom: 10px;
}


.desc {
    margin: 0;
    margin-bottom: 10px;
    height: 155px;
    overflow: auto;
}

.bouton_admin {
    display: flex;
    height: 40px;
    gap:5px;
}