#filtres {
    position: absolute;
    width: 300px;
    height: 90vh;

    display: ruby;
    border-right: solid powderblue;
}

/*__________Selection_ingredients__________*/
#filtre_ingredients {
    position: absolute;
    height: 50%;
    width: 100%;
}

#search_ingredient {
    width: 90%;
    height: 25px;
    margin: 10px;
}

.checkbox_ingredient {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 40vh;
    width: 93%;

    overflow: auto;

}
/*_____________Selection_tags______________*/
#filtre_tags {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

#search_tag {
    width: 90%;
    height: 25px;
    margin: 10px;
}

.checkbox_tag {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 32vh;
    width: 93%;

    overflow: auto;

}


/*________________________________________________________________________________________*/
#reste_page {
    margin-left: 300px;
}


.search {
    display: flex;

    margin-left: 20px;
    margin-right: 20px;
}
.recherche {
    height: 20px;
    margin-left: 50px;
    margin-top: 33px;
}

#search_button {
    margin-left: 30px;
    margin-top: 25px;
    height: 40px;

    background-color: cornflowerblue;
    border-color: blue;
}

#trie {
    right: 20px;
    position: relative;
    width: 150px;
}

.tri{
    visibility: visible;
}

#liste_recette {
    padding-bottom: 90px;
    max-height: 100%;
    margin-left: 300px;
}

.recette {
    background-color: lightgray;
    border: black;

    margin: 20px;
    display: flex;
}

.bouton_image_recette {
    visibility: hidden;
    margin: 5px;
}

.image_recette {
    visibility: visible;
    height: 250px;
    width: 250px;
}
