#nom {
    margin-right: 20px;
    margin-left: 20px;

    display: flex;
    width: 100%;
}
#nbPersonne {
    text-align: right;
    margin-right: 20px;
}

#personne {
    width: 33px;
}

#info {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}
#photo_tete {
    width: 500px;
    height: 500px;
}

#ingredient {
    margin-right: 20px;
    margin-left: 20px;

    display: ruby;
}

#liste_inrgredient {
    position: absolute;
    overflow: auto;

    width: 635px;
    height: 410px;
}


.image_ingredient {
    width: 45px;
    height: 45px;
}
#flex {
    display: flex;
}
#recette {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 90px;
}