html, body {
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*_HEADER_________________________________________________________________*/
.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;

    width: 100%;
    height: 10vh;
    z-index: 9;


    background-color: powderblue;
}

#header2 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

display: flex;
}

#index {
    height: 10vh;
    width: 10vh;
    z-index: 10;
}

#content_bouton_header {
    display: flex;
    width: 100%;
}

.content_bouton_recette {
    width: 100%;
}

.button_header {
    color: black;
    font-size: 1.5vh;
    background-color: powderblue;
    border: white;
    margin: 0;

    width: 100%;
    height: 10vh;
}


/*_CONTENT_________________________________________________________________*/
.content {
    display: ruby;

    position: relative;
    margin: 0 auto;
    top: 10vh;

    background-color: white;
    font-family: 'Mochiy Pop One', sans-serif;

    max-width: 1200px;
    min-height: 90vh;

}



/*_FOOTER___________________________________________________________________*/
.footer {
    position: absolute;
    display: flex;
    bottom: 0; left: 0;

    width: 100%;
    height: 80px;

    background-color: powderblue;
    color: black;
}

#login {
    background-color: cornflowerblue;
    border-color: blue;
    margin-right: 20px;
    border-radius: 15px;
}

#logout {
    background-color: darkgray;
    border-color: black;
    margin-right: 20px;
    border-radius: 15px;
}

#copyright {
    margin-top: 10px;
}

/*_SIDEBAR___________________________________________________________________*/

#sidebar{
    margin-top: 4%;
    position: center;
    color: red;
}