html, body {
    background-image: url("../img/Fond.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50%;
    margin: 0;
}

/*_HEADER_________________________________________________________________*/
.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;

    width: 100%;
    height: 10vh;
    z-index: 9;
}

#header2 {
    background-color: #c95a49;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    display: flex;
}

#index {
    height: 10vh;
    width: 10vh;
    z-index: 10;
}

#content_bouton_header {
    display: flex;
    width: 100%;
}

.content_bouton_recette {
    width: 100%;
}

.button_header {
    color: black;
    font-size: 1.5vh;
    background-color: #c95a49;
    border: none;
    margin: 0;

    width: 100%;
    height: 10vh;
}

#login {
    background-color: #c95a49;
    margin-left: 85%;
    width: 15%;
    border: none;
}
#logout {
    background-color: #a6483a;
    width: 15%;
    border: none;
}

/*_CONTENT_________________________________________________________________*/
.content {
    display: ruby;

    position: relative;
    margin: 0 auto;
    top: 10vh;

    background-color: white;
    opacity: 90%;
    font-family: 'Mochiy Pop One', sans-serif;

    max-width: 1500px;
    min-height: 90vh;
}

/*_FOOTER___________________________________________________________________*/
.footer {
    position: absolute;
    display: flex;
    bottom: 0;

    width: 100%;
    height: 45px;
    z-index: 4;

    background-color: #c95a49;
    color: black;
    opacity: 100%;
}

#copyright {
    margin: 10px;
}

/*_BOUTON_EDIT_DELETE_ADD____________________________________________________*/
.button_edit{
    background-color: seagreen;
    border-radius: 15%;
}

.button_delete{
    background-color: #cf1f1c;
    border-radius: 15%;
}

/*_FORM_EDIT_ADD______________________________________________________________*/
#filtres {
    position: absolute;
    width: 300px;
    height: 100%;

    display: ruby;
    border-right: solid #a6483a;
}